@media (max-width: 800px) {
  .body-wrap {
    background-color: azure;
  }
  header {
    max-width: 100%;
  }
  header .name {
    font-size: 60px;
    line-height: 55px;
  }
  header .title {
    font-size: 20px;
    margin-bottom: -140px;
  }
  body header h3 {
    font-size: 20px;
  }
  .image-me {
    display: none;
  }
  body.container {
    margin: 0px;
  }
  .container .row a {
    margin: 5px auto;
  }
  .body-wrap .featured {
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
  }
  .body-wrap .featured-desc {
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 15px;
  }
  .body-wrap .slideshow {
    border: none;
    padding: 0;
  }
}

header {
  background-color: azure;

  padding: 30px;
}
header h1 {
  text-align: center;
  font-size: 100px;
  line-height: 90px;
}
header h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: var(--secondary-font);
}
header .title {
  margin-top: 0px;
}

.image-me {
  border: 1px solid rgb(7, 191, 223);
  padding: 10px;
  width: 500px;
  height: 500px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container .links {
  margin-top: 110px;
}
.row a {
  margin: 8px auto;
  width: 400px;
  padding: 25px;
  margin-left: 110px;
}
.featured {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
.featured-desc {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 800px;
  font-size: 15px;
  padding-bottom: 20px;
}
.slideshow {
  display: block;
  margin: 20px auto;
  max-width: 1000px;
  border: 1px solid rgb(7, 191, 223);
  padding: 20px 100px;
}
.socials a {
  padding: 10px;
}
.socials p {
  font-size: 20px;
  padding: 10px;
}
